body{
  text-align: center;
  background-color: #7F8E7B;
  padding:20px;
  font-family: 'Barlow', sans-serif;
  font-size:25px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
  background-color:#C2C2C2;

}

nav a:hover {
  color:black;
  font-size:27px;
  }

h1{
  font-size: 30px;
  background-color: white;
  font-family: 'Merriweather',sans-serif;
  padding: 25px;

}

h2{
  font-size: 25px;
  padding: 15px;
  text-align:center;
  font-family: 'Roboto',sans-serif;
}

.qanda h2{
  text-transform: uppercase;
  background-color: #C2C2C2;
  font-size:20px;
  font-family:'Barlow', sans-serif;
}

.data h1{
font-family:'Barlow', sans-serif;
font size:25px;

}

.help h1{
font-family:'Barlow', sans-serif;
font-size:27px;

}

.help h2{
  font-size:27px;
  font-family:'Barlow', sans-serif;
}

}
a{
  font-size:19px;
}

img {
  width:50%;
  min-width:500px;
  max-width: 800px;
  opacity: 0.95;
  border:none;
  margin:center;
  text-align: center;
}

title{
  font-size: 20px;
   background-color: #C2C2C2;
}

p{
  font-size: 20px;
  font-family:'Barlow', sans-serif;
}
